[ -f .venv/bin/activate ] && source .venv/bin/activate
[ -f .venv/bin/west ] && \
if [ -n "$BASH_VERSION" ]; then
  source <(west completion bash)
elif [ -n "$ZSH_VERSION" ]; then
  source <(west completion zsh)
fi
